* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.hidden {
  display: none;
}

.popup_bg {
  height: 100%;
  width: 100%;
  position: absolute;
}

.show {
  display: block;
  opacity: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  width: 600px;
  height: 230px;
  transition: 0.5s all;

  &_content {
    width: 594px;
    height: 232px;

    &_btn {
      background: none;
      border: hidden;
      position: relative;
      left: 561px;
      top: 19px;
      text-decoration: none;
      cursor: pointer;

      &_img {
        width: 14px;
        height: 14px;
      }
    }

    &_text {
      margin-left: 48px;
      margin-top: 30px;
    }

    &_header {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
    }

    &_paragraph {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
  }
}
